# web deps
node_modules/

# python virtual environment and pycharm folder
backend/venv/
backend/.idea/

# python cache files
__pycache__/

# point cloud files
*.ply

# zip files
*.zip
*.tgz

# web build files
example/bundle
example/dev-bundle
dist/bundle.js